input[type="text"] {
    width: 60%;
}

.addTodoDiv {
    margin: 30px auto;
}

.error {
    background-color: var(--danger-light);
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
}

.addBtn {
    float: right;
}

@media screen and (max-width:568px) {
    .addBtn {
        padding: 8px 2px;
    }
}