.todoItem {
    background-color: #FFF;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    border-radius: 5px;
}

.listData {
    display: flex;
    justify-content: flex-start;
}

.markComplete {
    padding: auto 20px;
}

.deleteBtn {
    background-color: var(--content-background);
    color: var(--text);
    padding: 3px;
    font-size: 1.4rem;
    cursor: pointer;
}

.deleteBtn:hover {
    color: var(--danger);
}

.data {
    list-style: none;
    overflow-wrap: anywhere;
    padding: 10px 20px 10px 0;
}

.deleteAnimation {
    position: relative;
    animation: linear 1;
    animation-name: slidingDelete;
    animation-duration: 0.2s;
}

@keyframes slidingDelete {
    0% {
        left: 0;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}